<div class="feeds">
    <div class="posts" *ngFor="let postData of posts">
        <div class="img">
            <img [src]="postData.imageUrl" alt="post img">
        </div>
        <div class="post-data">
            <app-user [post]="true" [user]="postData.account"></app-user>
            <div class="comment-likes">
                <span><i class="fa fa-heart"></i>{{postData.likes}}</span>
                <span><i class="fa fa-commenting"></i></span>
            </div>
        </div>
    </div>
</div>