@import "./../../../assets/scss/variables";


    .posts {
        .img {
            text-align: center;
            width: 90%;
            margin: 15px auto;
            height: 260px;
            box-shadow: 0px 3px 35px rgba($menu-color, .5);
            border-radius: 20px;

            img {
                width: 100%;
                border-radius: 20px;
                border: 3px solid $white;
                height: 260px;
                object-fit: cover;
            }
        }
   
        .post-data {
            margin: 30px 30px 30px 0;
            .normal-post {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            p {
                margin-bottom: 50px;
                width: 50%;
                color: $text-color;
                font-weight: bold;
            }
            .comment-likes {
                display: flex;
                align-items: center;

                span {
                    color: $menu-color;
                    font-weight: bold;

                    i {
                        font-size: 1.35em;
                        cursor: pointer;
                        margin: 0 10px;
                    }
                }

                .red-color {
                    color: $heart-color;

                    i {
                        color: $heart-color;
                    }
                }
            }
        }

    }

    .latestPost {
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .post-data {
            margin: 20px;
        }
        .img, img{
            height: 110px !important;
            width: 130px !important; 
        }
     .comment-likes span {
         display: flex;
        i {
            font-size: 16px !important;
            margin: 0 7px !important;       
         }
     }
        
    }