<!-- <div class="feeds"> -->
    <div class="posts">
        <div class="img">
            <img [src]="posts.imageUrl" alt="post img">
        </div>
        <div class="post-data">
            <app-user [post]="true" [user]="posts.account"></app-user>
            <div class="comment-likes">
                <span [ngClass]="{'red-color': posts.liked === true}" (click)="loved(posts.id)"><i class="fa fa-heart"></i>{{posts.likes}}</span>
                <span><i class="fa fa-commenting"></i>{{posts.comments}}</span>
            </div>
        </div>
    </div>
<!-- </div> -->