<div class="main-nav">
    <div class="logo">
        <a routerLink="/home"><img src="../../../assets/images/cofeed-logo.png" alt="logo"></a>
    </div>
    <div class="menu">
        <h6>Menu</h6>
        <nav>
            <ul>
                <li><a routerLink="/home" routerLinkActive="active"><i class="fa fa-home"></i>Home</a></li>
                <li><a routerLink="/messages" routerLinkActive="active"><i class="fa fa-commenting"></i>Messages</a>
                </li>
                <li><a routerLink="/profile" routerLinkActive="active"><i class="fa fa-user"></i>Profile</a></li>
                <li><a routerLink="/saved-posts" routerLinkActive="active"><i class="fa fa-bookmark"></i>Saved
                        Posts</a></li>
                <li><a routerLink="/settings" routerLinkActive="active"><i class="fa fa-cog"></i>Settings</a></li>
            </ul>
        </nav>
    </div>
    <div class="account">
        <h6>Account <i class="fa fa-chevron-down"></i></h6>
        <app-user [post]="false" [user]="account"></app-user>
    </div>

    <div class="get-app">
        <a routerLink=""><img src="../../../assets/images/download-app.png" alt="donload app"></a>
    </div>

</div>