@import "./../../../assets/scss/variables";

.main-nav {
  background: $white;
  max-width: 280px;

  .logo {
    padding: 20px 22.5px;
    img {
      width: 100%;
    }
  }

  h6 {
    font-size: 18px;
    padding: 0px 40px;
    font-weight: bold;
    color: $text-color;
  }

  nav {
    ul {
        padding: 18px 0;
      li {
        list-style: none;
        font-size: 16px;
        font-weight: bold;
        a {
            padding: 18px 40px;
            color: $menu-color;
            display: block;
        }
        a.active {
            box-shadow: 0px 20px 15px rgba(#f7f8fd, 0.7);  
            margin-bottom: 10px;
        }
        a.active, a:hover, a:visited, a:focus {
            color: $text-color;
        }
    }
    }
  }
  .get-app {
    padding: 40px;
    border-radius: 15px;
    img {
        width: 100%;
        border: 3px solid $white;
        border-radius: 15px;
        box-shadow: -12px 10px 40px #d2d2d2;
      }
  }
}
